/* Estilos generales */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9a3535;
    color: #23a5ea;
    margin: 0;
    padding: 20px;
}

/* Estilo para los contenedores */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para cada contenedor */
#container1 {
    background-color: #9f07e0;
    color: #130303;
}

#container2 {
    background-color: #05b8d7;
    color: #fff;
}
#cabecera{
    background-color: #28A745;
    color: antiquewhite;
    font-weight: bold;
    margin: 0;
    padding: 0;

}