#container1 {
    background-color: #cc00ff;
    color: #ffffff78;
>>>>>>> cabecera1
}

#container2 {
    background-color: #05b8d7;
    color: #fff;
}
#cabecera{
    background-color: #28A745;
    color: antiquewhite;
    font-weight: bold;
    margin: 0;
    padding: 0;

}